.footer__contacts {
    box-sizing: border-box;
    min-width: 346px;
    margin-right: 200px;
    color: #E5E5E5;
}

.footer__contacts__title {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}

.footer__contacts__list {
    padding-left: 0;
    list-style-type: none;
}

.footer__contacts__item {
    display: flex;
    margin-bottom: 20px;
}

.footer__contacts__icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.footer__contacts__link {
    text-decoration: none;
    color: #E5E5E5;
}

